<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/portrait.png" alt="Portrait" style="width:300px;height:300px;"">
                <h2 class="section-heading">Hi, I'm Roger</h2>
                <hr class="light">
                <p class="text-faded">I'm a young game developer who just finished a double degree in <b>Game Production</b> and <b>Software Engineering</b>. <br>
                I </p>
                <a href="#portfolio" class="btn btn-default btn-xl">My Work</a>
            </div>
        </div>
    </div>
</section>
