<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/portrait.png" alt="Portrait" style="width:300px;height:300px;"">
                <h2 class="section-heading">Hi, I'm Roger</h2>
                <hr class="light">
                <p class="text-faded">I'm a game developer who just finished a double degree in <b>Game Production</b> and <b>Software Engineering</b>. <br><br>
                I'm a passionate programmer and designer who enjoys getting involved in all kinds of projects. I've participated in several gamejams, in some group projects, and in countless individual ones. <br><br>
                I have a huge range of tastes, encompassing programming, game system design, reading, music composition, engaging in board games, and losing myself in videogames. However, I want to emphasize my favourite hobby: <br>
                Role-playing games, where I've spend years of my life as a Game Master, concurrently managing four parties across multiple campaigns in diverse systems, like Dungeons & Dragons, Pathfinder, Starfinder, Anima Beyond Fantasy, or Fate.<br></p>
                <img src="img/toa.png" alt="A memorable session of a memorable campaign" style="width:533;height:300px;"">

                <p class="text-faded"><br>I also try to enjoy my hobbies together, and therefore, I have developed an dynamic audio tool for my role-playing sessions, I have created programs to play card games, etc... I have designed many systems, composed music, filled databases, and developed tools, just to play D&D.<br><br>
                Below you can find some of my featured projects. If you want to know more, you can contact me at my email in the contact section at the bottom of the page.</p>
                <a href="#portfolio" class="btn btn-default btn-xl">My Work</a>
            </div>
        </div>
    </div>
</section>
