<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Some Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <div class="service-box">
                    <h3>Videogames2</h3>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="service-box">
                    <h3>Tools</h3>
                </div>
            </div>
            <div class="col-sm text-center">
                <div class="service-box">
                    <h3>Design and Music</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://ryuggha.github.io/" class="portfolio-box">
                    <img src="img/portfolio/ddome.png" class="img-responsive" alt="Dungeon Dome">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Videogame (Work in Progress Prototype)
                            </div>
                            <div class="project-name">
                                Dungeon Dome
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Ryuggha/DynamicProceduralCityGenerator" class="portfolio-box">
                    <img src="img/portfolio/dpcg.png" class="img-responsive" alt="Dyncamic Procedural City Generator">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Programming (Final Degree Project)
                            </div>
                            <div class="project-name">
                                Dyncamic Procedural City Generator
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Ryuggha/War-for-Efir" class="portfolio-box">
                    <img src="img/portfolio/wef.png" class="img-responsive" alt="War for Efir">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Design
                            </div>
                            <div class="project-name">
                                War for Efir
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://timebandit360.itch.io/friskpisk" class="portfolio-box">
                    <img src="img/portfolio/friskAndPisk.png" class="img-responsive" alt="Frisk & Pisk">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Videogame (GameJam)
                            </div>
                            <div class="project-name">
                                Frisk & Pisk
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Ryuggha/TableSoundScape" class="portfolio-box">
                    <img src="img/portfolio/tablesoundscape.png" class="img-responsive" alt="TableSoundScape">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Programming (Tool Project)
                            </div>
                            <div class="project-name">
                                TableSoundScape
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/@ryugghachannel6406" class="portfolio-box">
                    <img src="img/portfolio/music.png" class="img-responsive" alt="Musical Compositions">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Music
                            </div>
                            <div class="project-name">
                                Musical Compositions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://al-menos-compila-games.itch.io/soundwave" class="portfolio-box">
                    <img src="img/portfolio/soundwave.png" class="img-responsive" alt="SoundWave">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Videogame (College Project)
                            </div>
                            <div class="project-name">
                                Sound Wave
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Ryuggha/Tamiyo-s-Library" class="portfolio-box">
                    <img src="img/portfolio/tamiyo.png" class="img-responsive" alt="Tamiyo's Library">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Programming (Tool Project)
                            </div>
                            <div class="project-name">
                                Tamiyo's Library
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://ryuggha.github.io" class="portfolio-box">
                    <img src="img/portfolio/library.png" class="img-responsive" alt="The Library">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Design (TRPG Module)
                            </div>
                            <div class="project-name">
                                The Library
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
