<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Traits</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cog wow bounceIn text-primary"></i>
                    <h3>Organization</h3>
                    <p class="text-muted">An early and clean organization can lead a project anywhere</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-trophy wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Tenacity</h3>
                    <p class="text-muted">I can move the whole world if that leads me to achieve my goal</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-fire wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Passion</h3>
                    <p class="text-muted">Making the world exciting is all about enjoying the small details</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-music wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Creativity</h3>
                    <p class="text-muted">What's so interesting about what has already been done over and over again? Originality is what moves people.</p>
                </div>
            </div>
        </div>
    </div>
</section>
